// PRIMARY

.bg-primary {
	background-color: $primary-color!important;
}

.bg-primary-dark {
	background-color: darken($primary-color, 3%)!important;
}

.bg-primary-light {
	background-color: $primary-color-light !important;
}

.bg-primary-lightest {
	background-color: $primary-color-lightest !important;
}

.text-primary {
	color: $primary-color!important;
}

.btn-primary {
	color: white !important;
	background-color: $primary-color;
	border-color: $primary-color;

	&:hover {
		color: white !important;
		background-color: darken($primary-color, 4%);
		border-color: darken($primary-color, 4%);
	}

	&:active {
		background-color: darken($primary-color, 8%);
		border-color: darken($primary-color, 8%);
	}

	&:focus {
		background-color: darken($primary-color, 12%) !important;
		border-color: darken($primary-color, 12%) !important;
	}
}

.btn-primary-light {
	color: $primary-color !important;
	background-color: white;
	border-color: white;

	&:hover {
		color: $primary-color !important;
		background-color: #f9f9fa;
		border-color: #f9f9fa;
	}

	&:active {
		background-color: #f9f9fa;
		border-color: #f9f9fa;
	}

	&:focus {
		background-color: #f9f9fa;
		border-color: #f9f9fa;
	}
}

// SECONDARY

.bg-secondary {
	background-color: $secondary-color!important;
}

.text-secondary {
	color: $secondary-color!important;
}

.btn-secondary {
	color: white !important;
	background-color: $secondary-color;
	border-color: $secondary-color;

	&:hover {
		color: white !important;
		background-color: darken($secondary-color, 4%);
		border-color: darken($secondary-color, 4%);
	}

	&:active {
		background-color: darken($secondary-color, 8%);
		border-color: darken($secondary-color, 8%);
	}

	&:focus {
		background-color: darken($secondary-color, 12%) !important;
		border-color: darken($secondary-color, 12%) !important;
	}
}
