$primary-color: #09244b;
$primary-color-light: lighten($primary-color, 10%);

$secondary-color: #cd8627;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;