// Fonts
@import "~@fortawesome/fontawesome-free/css/all.min";
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'custom_bs';
@import 'brand';
@import 'components/swiper';
@import 'components/hamburger';

.navbar .nav-item:hover {
	background-color: $primary-color-light !important;
}

.btn {
	border-radius: 0!important;
	font-size: inherit;
}